* {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page {
    display: flex;
    height: 100vh;
    width: 100%;
}

.introColumn {
    width: 50%;
    height: auto;
    background-color: #640032;
    display: flex;
    align-items: center;
}

.introContext {
    padding: 40px;
    margin-top: -120px;
    margin-left: 80px; 
}

.formColumn {
    width: 50%;
    height: auto;
    background-color: #F9F5F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 130px;
    padding-right: 60px; 
}

.absa-logo {
    width: 183px;
    height: 183px;
    border-radius: 50%;
    display: block;
    margin-bottom: 30px;
}

.font-1 {
    display: block;
    font-size: 40px;
    font-weight: 400;
}

.welcomeText {
    margin-left: 16px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 18px; 
    color: #FFFFFF;
}

.introP {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.formColumn h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 8px;
}

.formColumn p {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 46px;
    color: #48484A;
}

.formColumn form {
    width: 100%;
    max-width: 400px;
}

.username, .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.username label, .password label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.username input {
    padding: 16px 18px;
    font-size: 14px;
    border: 2px solid #8E8E93;
    border-radius: 5px;
    outline: none;
    width: 137%;
}

.password input {
    padding: 16px 18px;
    font-size: 14px;
    border: 2px solid #8E8E93;
    border-radius: 5px;
    outline: none;
    width: 100%;
}


.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 137%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.password-rules {
    list-style: none;
    padding: 8px 0 0;
    margin: 0;
    font-size: 13px;
    width: 137%;
}

.rule-pass { color: #509029; }
.rule-fail { color: #D62828; }

.formActions {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.formActions button {
    align-self: center;
    margin-right: -150px; 
    width: 137%; 
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background-color: #C95326;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

.formActions button:hover {
    background-color: #A8441F;
}

.formText {
    text-align: right;
    margin-right: -10px; 
    font-size: 16px;
    margin-top: 28px;
}

.normalText {
    color: #48484A;
    font-weight: 400;
}

.linkText {
    color: #C95326;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}