.navigation {
    display: flex;
}

.navigation nav {
    width: 325px;
    min-height: 100vh;
    background-color: #640032;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
}

.brand-section {
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    transition: transform 0.15s ease;
}


.brand-section:hover {
    transform: none;
}

.brand-logo {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.brand-section:active {
    transform: scale(0.90);
}

.brand-name {
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 4px;
}

.font-1{
    font-size: 26px;
}

.brand-name strong {
    font-weight: 700;
    color: #F9F5F0;
}

.sidebar ul {
    list-style: none;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar li {
    padding: 14px 16px;
    border: 2px solid #2C2C2E;
    border-radius: 12px;
    background-color: #F9F5F0;
    transition: 0.2s;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #edc8ba;
}


.sidebar li.active {
    background-color: #C95326;
    color: #FFFFFF;
    border-color: #F9F5F0;
}

.sidebar li.active:hover {
    background-color: #C95326;
}


.nav-icon {
    width: 21px;
    height: 21px;
}

.sidebar li.active .nav-icon {
    filter: invert(1) brightness(2);
}

.footer {
    background-color: #C95326;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

.footer p {
    color: #FFFFFF;
    font-size: 15px;
}

.layout {
    display: flex;
}

.page-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}